*{
    margin: 0;
    padding: 0;
}

:root{
    --fondo_azul:#181C30;
    --fondo_boton: #E6DDC4;
    --fondo_footer: #678983;
    --letra_primaria: #E6DDC4;
    --letra_secundaria: #678983;


}

a{
    text-decoration: none;
    outline: none;
}


.nav{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    width: 100%;
    height: 80px;
    background-color: var(--fondo_azul);
    align-items: center;
}

.nav-izq{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-izq svg{
    display: grid;
    justify-items: center;
    
}



.nav-der{
    display: grid;
}

.nav-der ul{
    display: flex;
    justify-content: space-evenly;
}

.nav-der ul li{
    display: grid;
    
    width: 100%;
    
    color: #111;
    font-weight: bold;
    
    text-decoration: none;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    font-size: 12px;

    box-shadow: 2px 2px var(--fondo_footer);
    cursor: pointer;

    background-color: var(--fondo_boton);
    width: 80px;
    height: 35px;
}

.header{
    width: 100%;
    height: 750px;
}

.seccion1{
    background: url(./assets/imagenes/codigo.jpg) 50% 0 fixed;
    height: 350px;
    background-size: cover;
}

.seccion1 h1{
    display: flex;
    height: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: black 2px 2px;
}

.seccion2{
    width: 100%;
    height: 400px;
    background-color: var(--fondo_azul);
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.sec2-contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: var(--letra_secundaria);
    font-weight: bold;

    text-shadow:    0px 0px 10px #E6DDC4,
                    0px 0px 15px #E6DDC4,
                    0px 0px 20px #E6DDC4,
                    0px 0px 25px #E6DDC4,
                    0px 0px 30px #E6DDC4;
}

.sec2-tarjeta{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    /* background-color: var(--fondo_boton); */
}

.tarjeta{
    background-color: var(--fondo_boton);
    width: auto;
    height: 200px;
    border: 3px solid var(--fondo_footer);

    box-shadow:     0px 0px 10px #111,
                    0px 0px 20px #111,
                    0px 0px 40px #111,
                    0px 0px 60px #111,
                    0px 0px 80px #111;
    }

.sec2-tarjeta div{
    display: grid;
    text-align: center;
    justify-items: center;
    
}

.sec2-tarjeta div p{
    display: grid;
    width: 100px;
    height: 30px;

    border-radius: 10px;

    align-items: center;
    background-color: var(--fondo_azul);
    color: var(--fondo_boton);
    cursor: pointer;
}


/* .sec2-tarjeta div p{
    height: 30%;
    text-align: center;
    display: grid;
    align-content: center;
} */

.sec2-tarjeta div img{
    width: 200px;
    height: 130px;
}


footer{
    width: 100%;
    height: 100px;
    background-color: var(--fondo_footer);
    
    display: grid;
    grid-template-columns: 30% 70%;
    
    align-items: center;
}

.footer-izq{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.footer-izq img{
    width: 70px;
}


.footer-der{
    text-align: right;
    font-size: 13px;
}

#mon1::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #c4b107;
    position: absolute;
    z-index: 1;
    top: -50px;
    left: 0;
    transition: .3s ease-in-out all;
}

/*----- logo ------*/
#mon1, #tec1{
    animation: part_1 ease-in 5s  ;
    }
    
#mon2, #tec2 {
animation: part_2 ease-in 5s  ;
}
@keyframes part_1{
    0% {
    transform: translate(0,-10px);
    opacity:0;}
    20% {
    transform: translate(0,-10px);
    opacity:0;}
    30% {
    transform: translate(0,0);
    opacity:1;}
    90% {
    transform: translate(0,0);
    opacity:1;}
    
    100% {
        transform: translate(0,0);
        opacity:1;}
}   
    

@keyframes part_2 {
    0% {
        transform: translate(0,-10px);
        opacity:0;}
        30% {
        transform: translate(0,-10px);
        opacity:0;}
        40% {
        transform: translate(0,0);
        opacity:1;}
        90% {
        transform: translate(0,0);
        opacity:1;}

        100% {
            transform:translate(0,0);
            opacity:1;}
        }  