*{
    margin: 0;
    padding: 0;
}

:root{
    --fondo_azul:#181C30;
    --fondo_boton: #E6DDC4;
    --fondo_footer: #678983;
    --letra_primaria: #E6DDC4;
    --letra_secundaria: #678983;


}

.nav{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    width: 100%;
    height: 80px;
    background-color: var(--fondo_azul);
    align-items: center;
}

.nav-izq{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-izq svg{
    display: grid;
    justify-items: center;
    
}



.nav-der{
    display: grid;
}

.nav-der ul{
    display: flex;
    justify-content: space-evenly;
}

.nav-der ul li{
    display: grid;
    
    width: 100%;
    
    color: #111;
    font-weight: bold;

    text-decoration: none;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    font-size: 12px;

    box-shadow: 2px 2px var(--fondo_footer);
    cursor: pointer;

    background-color: var(--fondo_boton);
    width: 80px;
    height: 35px;
}

a{
    text-decoration: none;
}


.header{
    width: 100%;
    
}

.seccion1{
    background: url(../assets/imagenes/codigo.jpg) 50% 0 fixed;
    height: 350px;
    background-size: cover;
}

.seccion2{
    background-color: var(--fondo_azul);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.resumen{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 80%;
    justify-self: center;
    align-items: center;
}

.orden02{
    grid-template-columns: 70% 30%;
}


header section .resumen h2{
    color: var(--fondo_footer);
}

.orden01 h2,
.orden03 h2{
    margin-right: 20px;
}

.orden02 h2{
    margin-left: 20px;
}

header section .resumen p{
    color: var(--fondo_boton);
    font-size: 12px;
}
.seccion1 h1{
    display: flex;
    height: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: black 2px 2px;
}

.seccion3{
    background-color: var(--fondo_azul);
    height: 700px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: center;
    
}


.video-texto {
    color: var(--fondo_footer);
    font-size: 25px;
    text-align: center;
    align-self: flex-end;
    font-weight: bold;
}

/* .video{
    width: 80%;
} */

.sec03-tarjeta{
    background-color: black;
    border: 5px solid black;
    border-radius: 10px;
}


.barra-navegacion{
    background-color: rgb(44, 43, 43) ;
    height: 40px;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}

.barra-izq{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.btn-video{
    background-color: var(--fondo_boton);
    width: 60px;
    height: 25px;
    text-align: center;
    border-radius: 10px;
    border: 1px black solid;
    box-shadow: 2px 2px var(--fondo_footer);
    cursor: pointer;
}

.btn-video:active{
    box-shadow: 0px 0px darkgray;
    transform: translate(3px, 2px);
}


.boton-play{
    margin-left: 20px;
}

.boton-pause{
    margin-left: -28px;
}


.barra-der{
    color: var(--fondo_boton);
    text-align: end;

}



/* video::-webkit-media-controls {
    display: none;
} */









footer{
    width: 100%;
    height: 100px;
    background-color: var(--fondo_footer);
    
    display: grid;
    grid-template-columns: 30% 70%;
    
    align-items: center;
}

.footer-izq{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.footer-izq img{
    width: 70px;
}


.footer-der{
    text-align: right;
    font-size: 13px;
}

/*----- logo ------*/
#mon1, #tec1{
    animation: part_1 ease-in 5s  ;
    }
    
#mon2, #tec2 {
animation: part_2 ease-in 5s  ;
}
@keyframes part_1{
    0% {
    transform: translate(0,-10px);
    opacity:0;}
    20% {
    transform: translate(0,-10px);
    opacity:0;}
    30% {
    transform: translate(0,0);
    opacity:1;}
    90% {
    transform: translate(0,0);
    opacity:1;}
    
    100% {
        transform: translate(0,0);
        opacity:1;}
}   
    

@keyframes part_2 {
    0% {
        transform: translate(0,-10px);
        opacity:0;}
        30% {
        transform: translate(0,-10px);
        opacity:0;}
        40% {
        transform: translate(0,0);
        opacity:1;}
        90% {
        transform: translate(0,0);
        opacity:1;}

        100% {
            transform:translate(0,0);
            opacity:1;}
        }  